<!DOCTYPE html>
<html lang="en-AU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="initial-scale=1, minimum-scale=1" />
<link rel="stylesheet" type="text/css" href="demo.css" />
<title>Zoomable component</title>
</head>

<body>
	<div id="a">
		<div id="b">
			<div class="page">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a magna facilisis, vestibulum odio ac, rhoncus purus. Fusce erat magna, hendrerit vel elit ac, imperdiet finibus libero. Aenean sapien arcu, tempor in urna a, lobortis luctus mi. Duis quis diam imperdiet, mattis massa posuere, viverra ipsum. Donec viverra sed turpis non finibus. Phasellus molestie lacus vitae felis elementum sagittis. Integer vel odio tincidunt, sagittis neque imperdiet, mollis diam. In eu consectetur augue. Etiam dapibus, neque non feugiat condimentum, elit nibh condimentum lorem, in bibendum leo mi nec sem. Aenean molestie sem vel massa sollicitudin sollicitudin. Cras varius sapien elementum libero malesuada, eget commodo nunc dictum. Proin non vulputate erat.

				Integer hendrerit consectetur dolor. Etiam dapibus quam id luctus interdum. Nulla vestibulum risus eu ligula maximus, ut malesuada dolor vulputate. Aenean at turpis id ex ornare maximus vel vel arcu. Vivamus varius egestas turpis. Nullam dictum, ante ut consequat pretium, diam magna feugiat eros, sed tristique ante diam sit amet nulla. Proin eu lorem leo. Curabitur venenatis nisl quis suscipit mattis. Cras et velit convallis, laoreet ex ut, elementum orci. Vestibulum consequat sit amet velit a consequat.

				Nulla euismod nisi nec ante dictum sagittis et sed libero. Vestibulum tortor sem, ornare eget posuere quis, tempus id nunc. Etiam magna neque, luctus eleifend mattis quis, accumsan in libero. Aliquam ultricies non mauris vitae commodo. Donec ut ante id elit tristique fermentum vel quis turpis. Integer rhoncus dictum nulla, id faucibus nisl consectetur nec. Etiam cursus nisi dui, non vestibulum nunc iaculis ut. Donec convallis feugiat est et aliquet. Maecenas aliquet odio eu laoreet tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sagittis fermentum ultricies. Donec tristique libero eu ligula congue vulputate. Etiam velit nibh, lobortis non finibus at, blandit eget eros. Donec iaculis odio eget mi viverra semper. Vestibulum in nibh congue, ornare arcu nec, condimentum lorem.

				Fusce fringilla at nunc ut gravida. Nulla vitae blandit velit. Morbi ullamcorper pretium metus, ut volutpat ex tempus et. Maecenas et tempor nisi. Nulla feugiat ac mi nec eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus nisl velit, bibendum non neque id, elementum fringilla orci.

				Donec condimentum felis ligula, quis sodales nunc viverra a. Quisque viverra nisl quis orci venenatis condimentum. Quisque ornare justo luctus viverra feugiat. Donec accumsan urna elementum, tristique justo et, efficitur dui. Quisque porttitor nunc non facilisis euismod. Etiam mollis massa nunc, vel sagittis erat varius et. Aliquam ornare nulla nec ex sodales rutrum. Etiam facilisis, mi id elementum consequat, elit risus suscipit tortor, vel consequat enim eros sit amet sem. Curabitur ullamcorper tortor quis accumsan sagittis. Vivamus feugiat risus nec elit venenatis, sed commodo purus condimentum. Morbi quis orci id erat malesuada dictum in a nulla. Phasellus in posuere lectus, et suscipit libero. Integer ullamcorper dui eget ipsum luctus pretium. Pellentesque nibh justo, tristique et placerat eget, vulputate sed dolor.
			</div>
		</div>
	</div>
	
	<script type="module" src="demo.mjs"></script>
</body>
</html>
